.a{
        background-color: rgb(38, 170, 226);
        color: #fff;
        opacity: 1;
        
        max-width: 600px;
        padding: 10px;
        border: 3px solid #fff;
        border-radius: 30px;
        letter-spacing: 4.2px;
        text-align: center;

        box-shadow: 5px 5px 0px rgba(144, 144, 144, 0.886);

        font-weight: 700;
        font-family: ;
        font-size: 1em;

        display: block;

        position: relative;
        top: -5px;
        left: 0px;

        text-transform: uppercase;

        transition: 0.3s ease-in-out;
        cursor: pointer;
}

.a:hover{
        top: 0px;
        left: 5px;

        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 #909090;

        color: rgb(38, 170, 226);
}

a{
  text-decoration: none;
}
